* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #333;
}

.calculator {
    display: grid;
    width: 500px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    background-color: #30c9e4;
    padding: 20px;
    box-shadow: black 2px 4px 8px;
    border-radius: 12px;
}

.display,
.btn {
    border: 0;
    border-radius: 50px;
    box-shadow: black 1px 2px 4px;
    background-color: white;
}

.display {
    grid-column: 1 / 5;
    font-size: 64px;
    font-weight: bold;
    margin: 32px 0;
    padding: 16px 32px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: inset black 0px 0px 8px;
}

.btn {
    font-weight: bold;
    font-size: 48px;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(90%);
}

.btn:active {
    box-shadow: inset black 1px 2px 4px;
    filter: brightness(75%);
}

.btn[data-type="operator"] {
    background-color: #fde165;
}

.btn[data-type="equal"] {
    background-color: #6ffa92;
}

.btn[data-type="clear"],
.btn[data-type="delete"] {
    background-color: #fa9278;
}

.btn[data-type="delete"] {
    font-size: 32px;
}

.btn[data-type="percent"],
.btn[data-type="decimal"],
.btn[data-type="plusminus"] {
    background-color: #c0b3ff;
}

